* {
    margin: 0%;
    padding: 0%;
}
h1 {
    display: flex;
    justify-content: center;
}
table,th,td, tr {
    border: 1px solid rgb(27, 26, 26);
    border-collapse: collapse;
    font-size: 1em;
    min-width: 50;
}
img {
    display: block;
    margin: auto;
    width: 20%;
}
h2 {
    display: flex;
    justify-content: center;
}
h3 {
    display: flex;
    justify-content: center;
}